extends ../layouts/common

block content
    form.ml-5.mr-5(method="POST")
        .form-group          
            label.mb-0(for="name") Name
            input(type="hidden", name="id", value=id)
            input#name.form-control(name="name", type="text", value=values ? values.name : "" style="width: 500px")
            label.mt-3.mb-0(for="phone") Phone
            input#phone.form-control(name="number", type="text", value=values ? values.number : "" style="width: 500px")
        button.btn.btn-primary Confirm