extends ../layouts/common

block content 
    form.ml-5.mr-5(method="POST" enctype="multipart/form-data")
        .form-group
            label(for="avatar") Avatar
            input#avatar.form-control-file(name="avatar", type="file")
        button.btn.btn-primary Confirm