h1 Create

p Type to title and description about your book

form(action="/library/create" method="POST")
	input(name="name" placeholder="Type name of book")
	input(name="des" placeholder="Type description of book")
	button Create 
