extends ../layouts/common.pug
			
block content
	h1.ml-5 Edit

	form.ml-5(action="/library/edit", method="POST" class="form-group")
		input(type="hidden", name="id", value=id)
		input(name="name", type="text", placeholder="Type new name" style="width: 350px")
		button(class="btn-primary btn") Edit 



