extends ../layouts/common.pug
            
block content
    h1.ml-5 This is all of books in my library

    a.ml-5.btn.btn-primary(href="/library/create") Create

    form.mt-2(action="/library/search" method="GET" class="form-inline")
        .form-group
            input.form-control.ml-5(type="text" name="q" placeholder="Type to search your book" style="width: 600px")
            button(class="btn btn-primary ml-2") Search
    table.table.ml-5(style="width: 1500px")
        thead.thead-dark
            tr
                th(scope='col') Title
                th(scope='col') Description
                th(scope='col') Action
        tbody
            each book in books
                tr
                    td= book.name
                    td= book.description
                    td
                        a(href="/library/edit/" + book._id) Edit
                        span &nbsp;
                        span &nbsp;
                        span &nbsp;
                        a(href="/library/delete/" + book._id) Delete