html
    head
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous")
        title Library
    body
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            a.navbar-brand.ml-4(href='#') Library
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarNavAltMarkup.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-icon
                        a.nav-item.nav-link.active(href='/') Home                   
                    li.nav-icon
                        a.nav-item.nav-link(href='/library/') Library
                    li.nav-icon
                        a.nav-item.nav-link(href='/users/') Users 
                    li.nav-icon          
                        a.nav-item.nav-link(href='/transactions/') Transactions
                    li.nav-icon
                        a.nav-item.nav-link(href='/products/') Products

            if user
                p= user.name

        .alert.alert-danger.ml-5.text-center(style="width: 550px") WARNING: If you're not admin, you can't use Transactions
        
        block content
            