extends ../layouts/common.pug
			
block content
	h1.ml-5 Create

	if errors
		each error in errors
			.alert.alert-danger.ml-5(style="width:400px")= error

	form.ml-5(action="/users/create", method="POST" class="form-inline")
		.form-group
			input.form-control.mr-1(type="text", name="name", placeholder="Type your name" style="width: 400px", value=values ? values.name : "")
			input.form-control.mr-1(type="text", name="number", placeholder="Type your phone number" style="width: 400px", value=values ? values.number : "")
			button(class="btn btn-primary") Create