h1 Edit

form(action="/users/edit", method="POST")
	input(type="hidden", name="id", value=id)
	input(type="text", name="name", placeholder="Type new name")
	//- input(type="number", name="age", placeholder="Type new age")
	button Edit