extends ../layouts/common.pug
			
block content
	h1.ml-5 Edit

	form.ml-5(action="/users/edit", method="POST", class="form-inline")
		.form-group
			input(type="hidden", name="id", value=id)
			input.form-control(type="text", name="name", placeholder="Type new name" style="width: 350px")
			//- input(type="number", name="age", placeholder="Type new age")
		button.btn.btn-primary Edit