extends ../layouts/common

block content
	h1.ml-5 Reset Password

	form.ml-5(method="POST")
		.form-group
			label(for="email") Email
			input.form-control(type="email" name="email" placeholder="Type your Email" style="width: 400px")
			label(for="password") New Password
			input(type="hidden" name="id" value="id")
			input.form-control#password(type="password" name="password" placeholder="Type new password" style="width: 400px")
		button.btn.btn-primary Confirm