extends ../layouts/common.pug
		
block content
	h1.ml-5 Complete

	form.ml-5(action="/transactions/complete", method="POST" class="form-inline")
		.form-group
			input(type="hidden", name="id", value=id)
			select.form-control(name="complete")
				option= "YES"
				option= "NOT YET"
			button.btn.btn-primary Confirm

	div.ml-5
		each dtb in data
			p= "This user is return the book ? - " + dtb.isComplete