extends ../layouts/common.pug
			
block content
	h1.ml-5 Create

	form.ml-5(action="/transactions/create/", method="POST", class="form-group")
		b User:
		select.mb-2(name="userId" class="form-control" style="width: 350px")
			each user in users
				option(value=user.id)= user.name
		b Book:
		select.mb-2(name="bookId" class="form-control" style="width: 350px")
			each book in books
				option(value=book.id)= book.name
		b Complete:
		select.mb-2(name="isComplete" class="form-control" style="width: 350px")
			option= "not yet"
		button(class="btn btn-primary") Create