h1 Transaction

p Welcome to transaction

a(href="/transactions/create/") Create

//- form(action="/transactions/search/", method="GET")
//- 	input(type="text", name="q")
//- 	button Search

ul
	each transaction in transactions
		li= "Book title : " + transaction.bookTitle + " - Name user : " + transaction.userName
		a(href="/transactions/delete/" + transaction.id) Delete
		span &nbsp
		a(href="/transactions/complete/" + transaction.id) Complete
