extends ../layouts/common.pug
                
block content
    h1.ml-5 Transaction

    a.btn.btn-primary.ml-5(href="/transactions/create/") Create

    //- form(action="/transactions/search/", method="GET")
    //-     input(type="text", name="q")
    //-     button Search

    table.table.ml-5.mt-2(style="width: 1500px")
        thead.thead-dark
            tr
                th(scope='col') Book cover
                th(scope='col') Title
                th(scope='col') User
                th(scope='col') Action
        tbody
            each transaction in transactions
                tr
                    td 
                        img(style="width: 150px" src=transaction.image)
                    td= transaction.bookTitle
                    td= transaction.userName
                    td
                        a(href="/transactions/delete/" + transaction.id) Delete
                        span &nbsp;
                        span &nbsp;
                        span &nbsp;
                        a(href="/transactions/complete/" + transaction.id) Complete

