html
    head
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous")
        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous")
        title Library
    body
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            a.navbar-brand.ml-4(href='#') Library
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarNavAltMarkup.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-icon
                        a.nav-item.nav-link.active(href='/') Home                   
                    li.nav-icon
                        a.nav-item.nav-link(href='/library/') Library
                    li.nav-icon
                        a.nav-item.nav-link(href='/products/') Products
                    li.nav-icon
                        a.nav-item.nav-link(href='/cart/') Cart

block content
    h1.ml-5 Products

    .mr-5.d-flex.align-items-center
        form.ml-auto(action="/products/search", method="GET", class="d-flex")
            input(type="text", name="q", class="form-control")
            button(class="btn btn-primary ml-2") Search

    .ml-4.mr-4.row
        if products
            each product in products
                .col-sm-6.col-md-4.col-lg-3
                    .card.mb-3
                        img.card-img-top(src=product.image)
                        .card-body
                            h5.card-title(style="font-weight: 700")= product.title
                            p.card-text= product.description
                            a.btn.btn-primary.mr-2(href='/cart/add/' + product.id) Add to cart
                            //- if user.isAdmin
                            //-     a.btn.btn-primary(href="/products/edit/" + product.id) Edit

    nav(aria-label='Page navigation example')
        ul.pagination.justify-content-center
            //- a.page-link(href='#', aria-label='Previous')
            //-   span(aria-hidden='true')
            //-   span.sr-only= "<<"
            li.page-item
                a.page-link(href='/products/?page=1') 1
            li.page-item
                a.page-link(href='/products/?page=2') 2
            li.page-item
                a.page-link(href='/products/?page=3') 3
            li.page-item
                a.page-link(href='/products/?page=4') 4
            li.page-item
                a.page-link(href='/products/?page=5') 5
            li.page-item
                a.page-link(href='/products/?page=6') 6
            li.page-item
                a.page-link(href='/products/?page=7') 7
            li.page-item
                a.page-link(href='/products/?page=8') 8
            li.page-item
                a.page-link(href='/products/?page=9') 9
            li.page-item
                a.page-link(href='/products/?page=10') 10
            li.page-item
                a.page-link(href='/products/?page=11') 11
            li.page-item
                a.page-link(href='/products/?page=12') 12
            li.page-item
                a.page-link(href='/products/?page=13') 13
            //- li.page-item
            //-     a.page-link(href='#', aria-label='Previous')
            //-         span(aria-hidden='true')
            //-         pan.sr-only= ">>"
