extends ../layouts/common.pug


block content
    h1.ml-5 Products

    .mr-5.d-flex.align-items-center
        form.ml-auto(action="/products/search", method="GET", class="d-flex")
            input(type="text", name="q", class="form-control")
            button(class="btn btn-primary ml-2") Search

    .ml-4.mr-4.row
        each product in products
            .col-sm-6.col-md-4.col-lg-3
                .card.mb-3
                    img.card-img-top(src=product.image)
                    .card-body
                        h5.card-title(style="font-weight: 700")= product.title
                        p.card-text= product.description
                        a.btn.btn-primary(href='#') Add to cart
    
    nav(aria-label='Page navigation example')
        ul.pagination.justify-content-center
            //- a.page-link(href='#', aria-label='Previous')
            //-   span(aria-hidden='true')
            //-   span.sr-only= "<<"
            li.page-item
                a.page-link(href='/products/?page=1') 1
            li.page-item
                a.page-link(href='/products/?page=2') 2
            li.page-item
                a.page-link(href='/products/?page=3') 3
            li.page-item
                a.page-link(href='/products/?page=4') 4
            li.page-item
                a.page-link(href='/products/?page=5') 5
            li.page-item
                a.page-link(href='/products/?page=6') 6
            li.page-item
                a.page-link(href='/products/?page=7') 7
            li.page-item
                a.page-link(href='/products/?page=8') 8
            li.page-item
                a.page-link(href='/products/?page=9') 9
            li.page-item
                a.page-link(href='/products/?page=10') 10
            li.page-item
                a.page-link(href='/products/?page=11') 11
            li.page-item
                a.page-link(href='/products/?page=12') 12
            li.page-item
                a.page-link(href='/products/?page=13') 13
            //- li.page-item
            //-     a.page-link(href='#', aria-label='Previous')
            //-         span(aria-hidden='true')
            //-         pan.sr-only= ">>"
